/* ===========================================
   CLASES AUXILIARES
   =========================================== */
.verde-bold {
  color: #1E4525;
  font-weight: bold;
}

.check {
  color: #1E4525;
  font-weight: bold;
}

.partial {
  color: #FFA500;
}